.Champions_data{
    width: 70%;
   margin-top: -200px;
   margin-left: 15%;
  
}

.Champions_data h1{
    font-size: 60px;
}

.Champions_data p{
    font-size: 30px;
    color: #FFD700;
}

.Champions_btn{
    font-size: 16px;
  border: none;
  background-color: #FFD700;
  border-radius: 10px;
  padding: 8px 16px;
  color: white;
  width :90px;
}

.Position_img{
    margin-left: 25%;
    margin-top: 10%;
}


.CircleDesign{
    position: relative;
    top: 300px;
  right:40%;
    
}
.CircleDesign1{
    position: relative;
    top: 200px;
  left:20%;
    
}