/* Contact.css */

/* Base styles */
.Contact_Banner {
    width: 70%;
    margin: 60px 0 0 15%;
}

.Contact_head {
    font-size: 60px;
}

.Contact_Container {
    display: flex;
    flex-direction: row;
    box-shadow: 1.5px 3px 8px 2.5px #dddddd; /* Simplified box-shadow property */
    border-radius: 10px;
    height: 500px;
}

.Contact_Right {
    margin: 10px auto; /* Center the Contact_Right content */
}

.Contact_Right img {
    margin-left: 20%;
}

.Contact_Left img {
    height: 500px;
    width: 550px;
    border-radius: 10px 0 0 10px; /* Simplified border-radius property */
}

.form {
    max-width: 300px;
    margin: 0 auto; /* Center the form */
}

.TextArea {
    resize: none;
    height: 80px;
}

/* Text inputs */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #444;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* On focus */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    outline: none;
}

/* Submit button */
button[type="submit"] {
    background-color: #6c63ff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* On hover */
button[type="submit"]:hover {
    background-color: #574fff;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .Contact_Banner {
        width: 90%; /* Adjust width for smaller screens */
        margin-left: 5%; /* Adjust margin for smaller screens */
    }

    .Contact_Container {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        height: auto; /* Remove fixed height for smaller screens */
    }

    .Contact_head {
        font-size: 30px;
    }

    .Contact_Left img {
        display: none;
    }

    .Contact_Right {
        margin: 20px auto; /* Adjust margin for smaller screens */
    }

    .Contact_Right img {
        margin: 0px 30%;
      
    }

    .form {
        max-width: 90%; /* Adjust max-width for smaller screens */
    }
}
