body{
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
  
  .Team_Banner1 {
      display: flex;
      align-items: center;
      gap: 100px;
      padding-left: 15%;
      justify-content: center;
      background-color: #000000;
      flex-direction: row;
  
    }
    
   
    
    .Team_Banner1_right img {
     width: 75%; 
      
    }
    
    .Team_Banner1__left h1{
  font-size: 60px;
  color: #FFD700;
    }
    .Team_Banner1__left h2{
  font-size: 40px;
  width: 600px;
  color: azure;
  margin: 20px 0px;
    }
    .Team_Banner1__left h3{
  font-size: 25px;
  color: azure;
  width: 600px;
 
    }
   
  
    .mainIcons3 {
      color: white;
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-size: 40px;
      margin-top: 50px;


    }
    .mainIcons3  *:hover{
      color: #FFD700;
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-size: 40px;
    

    
    
    }
  
    .mainIcons3 > :first-child {
      color:  #FFD700;
    }
  
  
    @media only screen and (max-width: 600px) {

      .Team_Banner1 {
       width: 100%;
      
       
    
      }
      .Team_Banner1__left h1 {
          font-size: 30px;
          width: 70%;
      }
      .Team_Banner1__left h2{
        font-size: 18px;
        width: 90%;
       
    }
      .Team_Banner1__left h3 {
          font-size: 12px;
          width: 100%;
         
      }
      .mainIcons3  {
          font-size: 24px;
         margin-top: 20px;
         
      }

.mainIcons3 a{
  color: white;
}
      .mainIcons3 {
        color: white;
      }
      .mainIcons3 :hover{
          font-size: 24px;
        
        color: #FFD700;
      }

     
  }
  
  
  
  
  
  
  
  
  
  