.Team_Banner3 {
  width: 70%;
  margin-left: 15%;
  margin-top: 60px;
}

.Team_head {
  font-size: 60px;
}

.Teams1 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 20px;
}

/* For desktop screens */
@media only screen and (min-width: 1200px) {
  .Team_List {
    width: calc(25% - 45px); 
   
  }
}

@media only screen and (max-width: 768px) {
  .Team_Banner3 .Team_List {
    width: calc(42% - 0px);
    height: 50%;
  }

  .Team_Banner3 .Team_List img {
    width: 130px;
    /* margin-top: 18px; */
    transition: transform .2s;
   
  }

  .Team_Banner3 .Team_List:hover img {
    width: 80%;
    
    margin-top: 18px;
    transform: scale(1.1);
  }

  .Team_Banner3 .Team_List h1 {
    font-size: 15px;
  }
  .Team_Banner3 .Team_head{
    font-size: 30px;
  } 

  .Team_Banner3 .Team_List:hover .Team_btn {
    display: block;
  }

  .Team_List:hover .team-info {
  opacity: 1;
}
}



.Team_List {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0.5px 3px 19px 3.5px #dddddd;
  -moz-box-shadow: 0.5px 3px 19px 3.5px #dddddd;
  box-shadow: 0.5px 3px 19px 3.5px #dddddd;
  align-items: center;
  height: 260px;
  position: relative;
}

.Team_List img {
  width: 180px;
  margin-top: 18px;
  transition: transform .2s;
}

.Team_List:hover img {
  width: 180px;
  margin-top: 18px;
  transform: scale(1.1);
}

.Team_List h1 {
  font-size: 20px;
  margin-top: 10px;
}

.Team_btn {
  background-color: #FFD700;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  position: relative;
  top: 0px;
  text-decoration: none;
}

.team-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.577);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.Team_List:hover .team-info {
  opacity: 1;
}

.team-name {
  margin-bottom: 10px;
}

.Team_btn {
  display: none;
  color: white;
}

.Team_List:hover .Team_btn {
  display: block;
}
