
.Team_Container_Info{
    background-color: black;
  
    padding-top: 90px;
   
}
.TeamBanner3_Head {
   text-align: center;
   
   color: white;
}

.Teamates_List_Container{
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    justify-content: center;
   margin-top: 50px;
}

.Teamates_List{
    width: 300px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 30px;
   color: white;
    
}

.Teamates_List_Right{
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.Teamate{
    border-right: 10px solid #FFD700;
    border-radius: 10px;
    padding: 10px;
}

.Teamate_Right{
    border-left: 10px solid #FFD700;
    border-radius: 10px;
    padding: 10px;
}


.Socialmedia{
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.Sponsor{
    text-align: center;
    color: white;
    margin-top: 30px;
}

.Sponsor img{
    text-align: center;
    color: white;
    width: 320px;
    margin-top: -30px;
}


@media only screen and (max-width: 992px) {
    .Teamates_List_Container {
        gap: 30px; /* Reduce gap between items */
    }
    .Socialmedia {
        font-size: 24px; 
    }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .Teamates_List_Container {
        gap: 20px; 
    }
    .Socialmedia {
        font-size: 20px; 
    }
    .Sponsor img {
        max-width: 250px; /* Adjust max-width for smaller screens */
        margin-top: -20px;
    }

    .FearlessFalcon img{
        width: 200px;
    }

    .Teamates_List_Container{
        display: flex;
        flex-direction: column;
       
        /* align-items: center;
        justify-content: center; */
       margin-top: 50px;
}

.Teamates_List{
   
    display: flex;
    flex-direction: row;
    gap: 20px;
   color: white;
  
   justify-content: center;
 
    
}


.Teamates_List_Right{
    display: flex;
    flex-direction: row;
    gap: 20px;
   color: white;
  
   justify-content: center;
}

.Teamate_Right h3{
    font-size: 13px;
    text-align: left;
    width: 70px;
    text-align: center;
}
.Teamate_Right h6{
    font-size: 10px;
    text-align: left;
    color: #FFD700;
    text-align: center;
}

.Teamates_List h3{
font-size: 13px;
text-align: left;
width: 70px;
text-align: center;
}
.Teamates_List h6{
font-size: 10px;
text-align: left;
color: #FFD700;
text-align: center;
}
.Teamates_List_Container .Teamate {
    /* border-left: 1px solid #FFD700; */
    border-radius: none;
   
    border-right: none;
   
}

.Teamate_Right{
    border-left: 0px solid #FFD700;
    border-radius: none;
   
    border-right: none;



}
}